<div class="card-container" *ngIf="isProductDetailVisible">
    <div *ngFor="let book of listOfBooks" class="card" (mouseover)="onMouseOver(book)" (mouseout)="onMouseOut(book)">

        <div class="card-header">
            <img *ngIf="book.coverFileName" [routerLink]="['/book-details', book]" (click)="openChildComponent(book.bookId)"
                [attr.src]="'https://bookcart.azurewebsites.net/Upload/' + book.coverFileName" alt="Card 1" class="img">

        </div>

        <div class="card-body">

            <p class="title"> <a><strong>{{getTruncatedTitle(book.title)}}</strong></a>
            </p>

            <p><strong>{{book.price | currency}}</strong></p>

            <button   class="add-to-cart-btn" (click)="addToCartToast(book)">
                <i class="fa fa-shopping-cart"></i>
                Add to Cart
            </button>

            <button [ngClass]="{'active': book.isSelected}" (click)="addtoWishList(book)" class="wishlist-btn">
                <i class=" fa fa-heart"></i>
            </button>

            <span class="card-title" [ngStyle]="{'opacity': book.isHovered ? 1 : 0}">{{book.title}}</span>

        </div>
    </div>
</div>

<div *ngIf="!isProductDetailVisible">
    <app-book-details></app-book-details>
</div>